html, body {
    overflow-x:hidden;
    overflow-y:auto;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: lightblue;
}

/* Container for positioning the overlay */
.image-container {
    position:relative;
    align-self:center;
    position: relative;
    height: 100vh;
    width:100vw;
}

.image-container img {
    object-fit: cover; /* Ensure the image covers the area appropriately */
}


.overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* Slogan box styling */
.slogan-box {
    margin-top:10px;
    padding: 10px;
    border-radius: 8px;
    max-width: 700px;
    display: inline-block;
    color: white; /* Ensure text is visible */
}

/* Slogan styling */
.slogan-box h1 {
    margin: 20;
    font-family: "Audiowide", sans-serif;
    font-size: 3.2em;
    color:white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

/* Button container styling */
.button-container {
    margin-top: 100px;
    padding-bottom: 50px;
}

/* Contact button styling */
.contact-button {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 15px 60px;
    background-color: #3083c1;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.5em;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

.contact-button:hover {
    background-color: #87ceeb;
}

/* Styles for the services container */
.services-container {
    bottom: .01vh;
    position: relative;
    width:800px;
    margin-top: 200px;
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
}

/* Service box styles */
.half-width {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    position: relative;
}

/* Navigation button styles */
.navigation {
    flex: 0 0 50px; /* Fixed width for navigation buttons */
}

.navigation button {
    background: #3083c1;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navigation button:hover {
    background-color: #87ceeb;
}

/* Adjusted service box styles */
.half-width {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .5);
    flex: 1; /* Allow the service box to take available space */
    margin: 0 10px; /* Add margin to separate from buttons */
    background: white;
    padding: 0;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.half-width .image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.half-width .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

