<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
{% block css %}
<link rel="stylesheet" type = "text/css" href="{{ url_for ('static' , filename='css/home.css') }}">
{% endblock %}

{% set image11 = "https://images.unsplash.com/photo-1675252003305-93cd1b03d8b4?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %}

{% block content %}
<body>
<div class="image-container">
    <img src="{{ image11 }}" alt="Full Width Image">
    <div class="overlay">
        <div class="slogan-box">
            <h1>Innovative IT solutions that strengthen your business.</h1>
        </div>
        <div class="button-container">
            <a href="/contact" class="contact-button">Contact Us</a>
        </div>
    </div>
</div>
</body>
{% endblock %}

<!-- Secondary language -->
{% block contentnl %}
<body>
<div class="image-container">
    <img src="{{ image11 }}" alt="Full Width Image">
    <div class="overlay">
        <div class="slogan-box">
            <h1>Innovatieve IT-oplossingen die uw bedrijf versterken.</h1>
        </div>
        <div class="button-container">
            <a href="/contact" class="contact-button">Neem contact op</a>
        </div>
    </div>
</div>
</body>

{% endblock %}
</html>